.App {
  display: flex;
  flex-direction: column;
  height: 100;
  width: 100%;
}

.AppHeader{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #689767;
}

.SideMenu{
  height: 100%;}

.SideMenuVertical {
  height: 100%;
}

.SideMenuAndPageContent {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}
.PageContent{
  padding-left: 12px;
}